.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(248, 242, 242);
    overflow-y: hidden;
}

.App h4 {
    margin-top: 15px;
    color: #5f9ea0;
    font-size: 14px;
}