.btn {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    padding: 1.5em;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.btn:hover {
    background: #5f9ea0;
}

.btn,
.btn:focus,
.btn:hover {
    border: none;
    outline: none;
}

.die {
    display: flex;
}

.rollDice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rollDice button {
    margin-top: 10px;
}

@media only screen and (max-device-width: 480px) {
    .btn {
        font-size: 12em;
        background: #5f9ea0;
    }
}